<config>
	<modules>
		<Sm_Pagebuilder>
			<version>1.0.0</version>
		</Sm_Pagebuilder>
	</modules>
	<global>
		<blocks>
			<pagebuilder>
				<class>Sm_Pagebuilder_Block</class>
			</pagebuilder>
		</blocks>
		<helpers>
			<pagebuilder>
				<class>Sm_Pagebuilder_Helper</class>
			</pagebuilder>
		</helpers>
		<models>
			<pagebuilder>
				<class>Sm_Pagebuilder_Model</class>
				<resourceModel>pagebuilder_resource</resourceModel>
			</pagebuilder>
			<pagebuilder_resource>
				<class>Sm_Pagebuilder_Model_Resource</class>
				<entities>
					<page>
						<table>sm_pagebuilder_page</table>
					</page>
				</entities>
			</pagebuilder_resource>
		</models>
		<resources>
			<pagebuilder_setup>
				<setup>
					<module>Sm_Pagebuilder</module>
					<class>Mage_Core_Model_Resource_Setup</class>
				</setup>
			</pagebuilder_setup>
			<pagebuilder_write>
				<connection>
					<use>core_write</use>
				</connection>
			</pagebuilder_write>
			<pagebuilder_read>
				<connection>
					<use>core_read</use>
				</connection>
			</pagebuilder_read>
		</resources>
	</global>

	<frontend>
		<routers>
			<pagebuilder>
				<use>standard</use>
				<args>
					<module>Sm_Pagebuilder</module>
					<frontName>pagebuilder</frontName>
				</args>
			</pagebuilder>
		</routers>
		<layout>
			<updates>
				<pagebuilder module="Sm_Pagebuilder">
					<file>sm/pagebuilder.xml</file>
				</pagebuilder>
			</updates>
		</layout>
	</frontend>

	<admin>
		<routers>
			<pagebuilderadmin>
				<use>admin</use>
				<args>
					<module>Sm_Pagebuilder</module>
					<frontName>pagebuilderadmin</frontName>
				</args>
			</pagebuilderadmin>
			<adminhtml>
				<args>
					<modules>
						<Sm_Pagebuilder before="Mage_Adminhtml">Sm_Pagebuilder_Adminhtml</Sm_Pagebuilder>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

	<adminhtml>
		<events>
			<core_block_abstract_to_html_after>
				<observers>
					<sm_pagebuilder>
						<type>singleton</type>
						<class>pagebuilder/observer</class>
						<method>injectHtml</method>
					</sm_pagebuilder>
				</observers>
			</core_block_abstract_to_html_after>
			<pagebuilder_render_shortCode>
				<observers>
					<sm_pagebuilder>
						<type>singleton</type>
						<class>pagebuilder/observer</class>
						<method>renderShortCode</method>
					</sm_pagebuilder>
				</observers>
			</pagebuilder_render_shortCode>
		</events>
		<layout>
			<updates>
				<pagebuilder module="Sm_Pagebuilder">
					<file>sm/pagebuilder.xml</file>
				</pagebuilder>
			</updates>
		</layout>
	</adminhtml>

	<default>
		<pagebuilder>
			<general>
				<isenabled>1</isenabled>
			</general>

			<advanced>
				<include_jquery>0</include_jquery>
				<use_cache>1</use_cache>
				<cache_time>3600</cache_time>
			</advanced>
		</pagebuilder>
	</default>
</config>